

header {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #652d6e;
    background-image: url("../images/45-degree-fabric-light\ \(1\).png");
}

h2 {
    color: #f4f1ec;
}